body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

a {
    
    text-decoration: none;
    color: black;

}

ul {
    list-style: none;
}
header {
    background-color:#3e4855;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 250px 15px 250px;
    font-size: 1.15rem;

}

.list {
    display: flex;
    width: 350px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 0.70rem;
    font-weight: 600;

}

.language {
    margin-left: 30px;
}

nav {
    background-color: #e6eaed;
    height: 60px;
}

ul {
    margin: 0;
    padding: 0;
}


.our {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 240px;
    list-style: none;
}

/* .us:after {
    position: absolute;
    content: "";
    height: 15px;
    background-color: #242424;
    width: 1px;
    margin-left: 15px;
    top: 50%;
    }  */

.us {
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
}
.us:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#de9300;
    height: 100%;
    color: white;
}

.white {
    display: inline-block;
    height: auto;
}
.white:hover {
    color: white;
}

.masthead {
    background-color: black;
    padding: 15px 250px 0px 250px;
    color: white;
    height: 400px;
}

.section-1 {
    width: 32vw;
}

button {
    background-color: transparent;
    border: 1px solid white;
    margin: 25px 0px 25px 0px;
    padding: 10px 15px 10px 15px;
}

button > a {   
    color: white;
    font-weight: 600;
}

.info > a {
    color: white;
    margin-right: 15px;
    font-size: 0.80rem;
    font-weight: 500;
}

.info > a:hover {
    color: #a0aab3
}

.secondlist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
}

.body-container {
    background-color: #3e4855;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin: 0px 250px 0px 250px;
}


.card {
    background: url(https://via.placeholder.com/300x150);
    background-repeat:no-repeat; 
    width: 300px;
    height: 350px;
    margin-top: -150px;
    margin-right: 3px;
    background-color: white;
}

.first-span {
    display: inline-block;
    background-color: #919ea7;
    color: white;
    padding: 5px;
    font-size: 0.70rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}


.second-span {
    display: inline-block;
    background-color: #de9300;
    color: white;
    padding: 5px;
    font-size: 0.70rem;
    font-weight: 600;
    margin-top: 10px;    
    margin-left: 2px;
}

.card-title {
    display: inline-block;
    color: #8e959b;
    margin-top: 130px;
    margin-left: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid #8d8d8d;
}

.text {
    margin: 20px 0px 10px 15px;
    color: #505050;
    font-size: 0.80rem;
    font-weight: bold;
}

.border {
    width: 85%;
}

.carousel-title {
    display: inline-block;
}

.section-3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 250px 0px 250px;
}

.carousel {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 15px;

}

.carousel-title {
    margin-left: -610px;
    font-size: 1.75rem;
    color: white;
}

.carousel-card {
    background: url(https://via.placeholder.com/300x400);
    background-repeat:no-repeat; 
    width: 280px;
    height: 350px;
    margin-right: 3px;
    background-color: white;
}

.card-background {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 133px;
    height: 185px;
}

.carousel-card-title {
    display: inline-block;
    color: white;
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid white;
}

.carousel-text {
    margin: 20px 0px 10px 15px;
    color: white;
    font-size: 0.80rem;
    font-weight: bold;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
    margin:  50px 250px 0px 250px;
    padding-bottom: 50px;
    padding-top: 10px;
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
}
.copyright {
    margin-left: 15px;
}
.legals {
    display: flex;
}

.legals>li {
    margin: 5px;
}

.legals>li>a {
    color:white
}